﻿@{
    ViewBag.Title = "Home Page";
}

<h2>This is auto deploy testing</h2>
<div class="jumbotron">
    <form method="post" action="/home/index">
        <button onsubmit="StartEvent(event);" id="btnStart">Start</button><br />
        <textarea TextMode="MultiLine" Width="700" Height="200" id="txtareaResult"></textarea>
    </form>
</div>

@section scripts{
    <script type="text/javascript">
        function StartEvent(e)
        {
            e.preventdefault();
            alert(1);
        }
    </script>
}
